@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
    --green: #245448;
    --light-green: #daf1df;
}

/* Header */
.custom-nav {
    background-color: var(--green);
    text-align: center;
}

/* Site Title */
.site-title {
    color: white;
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
}

/* Redemption Confirmation Box */
.confirmation-box {
    font-family: "Lexend Deca", sans-serif;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Full-page centering */
.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

/* Prevent dragging of the animation */
.animation-container iframe {
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
    transform-origin: center center;
}

/* Back to Home Button */
#info {
    background-color: var(--light-green);
    color: black;
    border: none;
    font-weight: bold;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

#redeemed {
    background-color: lightcoral;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}
